
import(Biobase, AnnotationDbi)

importFrom(graphics, plot)

#importClassesFrom(GSEABase, GeneSet)

exportClasses(
 # primary integrative container
  "smlSet", # "fsmlSet",
 # primary snp metadata container
  "snpLocs",
 # screening result holders
  "gwSnpScreenResult", 
#"multiGwSnpScreenResult",
  "cwSnpScreenResult", 
#"filteredGwSnpScreenResult",
#   "filteredMultiGwSnpScreenResult", 
 # casting 
  "chrnum", "rsid", "cnumOrMissing", "genesym", "probeId",
   "phenoVar",
#   "filteredMultiGwSnpScreenResult", 
"snpdepth",
 # sessionInfo
   "SessionInfo", "smlSummary", "multiCisTestResult")

exportMethods( "chrnum", "rsid", "genesym", "[",
    "show", "initialize", "smList", "smlEnv", "probeId",
#    "snpLocs.Hs", 
    "exprs", "[", "plot_EvG", "snpNames", 
#"getSnpLocs",
    "phenoVar", "plot",
    "plot_EvG2", "combine", "getAlleles", "snps", "coerce", "updateObject")

export("rsid", "snpdepth", "chrnum", "probeId", "snpsNear",
  "smlSummary", "MAFfilter", "featureFilter", "make_smlSet", "snpLocs.Hsapiens", "GTFfilter")
