
import(Biobase, AnnotationDbi)

exportClasses("smlSet", "gwSnpScreenResult", "multiGwSnpScreenResult",
  "chrnum", "rsNum", "cnumOrMissing", "genesym", "probeId",
  "cwSnpScreenResult", "snpLocNCref", "snpMeta",
  "snpMetaWhole", "snpID", "exFeatID",
  "genesym", "snpScreenResult", "twSnpScreenResult",
  "racExSet", "GGfitter", "oGtypeExSet",
   "filteredGwSnpScreenResult")

exportMethods( "chrnum", "rsNum", "genesym", 
    "show", "initialize", "smList", "smlEnv", "probeId",
    "snpNames")

export("snpID", "exFeatID")
